<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm rounded-4 p-4">
                <div class="d-flex flex-column gap-4 text-center">
                    <app-count-output></app-count-output>
                    <app-count-buttons></app-count-buttons>
                    <app-custom-counter></app-custom-counter>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="my-3">
                <app-count-output [counter]="counterDisplay"></app-count-output>
            </div>
            <div class="my-3">
                <app-count-buttons (increment)="onIncrement()" (decrement)="onDecrement()"
                    (reset)="onReset()"></app-count-buttons>
            </div>
        </div>
    </div>
</div> -->