<tof-hover-click role="group" [id]="title"></tof-hover-click>
<hr style="height: 4rem;">
<tof-card>
    <div firstChild style="border: 2px solid red;">
        <h1>Heading 1</h1>
        <div>
            <h2>body</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eos perferendis
                expedita quam illum sapiente, magni et a inventore hic!</p>
        </div>
        <div>
            <h3>Footer</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

    </div>
    <div secondChild>
        TESTING FOR MULTIPLE CONTENT
    </div>

</tof-card>
<tof-card>
    <div firstChild style="border: 2px solid blue;">
        <h1>Heading 222222222</h1>
        <div>
            <h2>body332222222</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eos perferendis
                expedita quam illum sapiente, magni et a inventore hic! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Beatae, minus. Doloribus soluta minus harum quisquam,
                qui esse repudiandae ex veritatis odio quia reprehenderit? Explicabo, minus magnam
                doloremque porro quidem necessitatibus.</p>
        </div>
        <div>
            <h3>Footer2222</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div secondChild>
        TESTING FOR MULTIPLE CONTENT
    </div>

</tof-card>

<hr>
<tof-counter [dummyName]="counter" [name]="name" [showCounter]=true [title]="title"></tof-counter>
<div style="color: red;">{{dataFromChildComponent}}</div>
<tof-getter-input [title]=title></tof-getter-input>
<tof-panel (dataEvent)="reveivedData($event)"></tof-panel>