<!--Input output data-->
<!-- <app-counters-display></app-counters-display> -->

<!--
ABOUT THE CARD
-->
<!-- <div>
    <app-card>
        <div class="">Content for the first car will be here</div>
    </app-card>
    <app-card>
        <div>Second card content should be here</div>
    </app-card>
</div> -->

<!-- <div>
    <app-card>
        <p title>This is going to be the title</p>
        <div body> Here is the body</div>
    </app-card>
    <app-card>
        <p title>TITLE</p>
        <div body>Body</div>
    </app-card>
</div> -->

<!--
HOVER CLICK COMPONENT
-->
<!-- <app-hover-click></app-hover-click> -->
<app-lifecycle [title]="title"></app-lifecycle>